.gitignore
.travis.yml
.vscode/**
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
**/tslint.json
client/node_modules/**
client/src/**
client/webpack.config.js
contributing.md
LICENSE
node_modules/**
server/node_modules/**
server/src/**
server/webpack.config.js
shared.webpack.config.js